@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background: #15161f;
    color: white;
    /* font-weight: bold; */
}

/* nav bar */

header {
    background-color: #181925;
    padding: 20px 30px;
}

header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

header nav .header_links ul {
    display: flex;
    flex-direction: row;
}

header nav .header_logo {
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    color: white;
}

header nav .header_links ul li {
    list-style-type: none;
}

header nav .header_links ul li a {
    outline: none;
    text-decoration: none;
    color: white;
    padding: 11.5px 15px;
    border-radius: 7px;
    transition: 0.2s all;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
}

header nav .header_links ul li a:hover {
    transition: 0.2s all;
    background-color: #3b3d4e93;
}

header nav .header_links ul li a:not(:nth-child(0)) {
    margin-left: 10px;
}

@media only screen and (max-width: 380px) {
    header nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
    }

    header nav .header_logo {
        margin-bottom: 20px;
        display: none;
    }
}

/* Main Infos */

.section_main {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.section_main .main {
    margin: 40px 0;
}

.section_main .main img {
    border-radius: 100px;
    border: 10px solid rgba(0,0,0,0.25);
    width: 200px;
    height: auto;
    margin-bottom: 15px
}

.section_main .main span {
    font-size: 20px;
    letter-spacing: .5px;
    text-transform: uppercase;
    font-weight: bold;
}

.section_main .main p {
    color: rgba(204, 204, 204, 0.705);
    font-size: 14px;
    margin: 12px 0 35px 0;
}

.section_main .main a {
    outline: none;
    text-decoration: none;
    color: white;
    background-color: #2f3463;
    border-radius: 8px;
    padding: 15px 40px;
    transition: 0.2s all;
}

.section_main .main a:hover {
    transition: 0.2s all;
    background-color: rgba(40, 47, 94, 0.925);
}

/* Statistiques */

.section_stats {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.section_stats .stats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.section_stats .stats .stat {
    margin: 15px 0;
    background-color: #20233a93;
    width: 170px;
    padding: 20px 0;
    border-radius: 12px;
    box-shadow: 0 0 20px 1px #04061d;
    transition: 0.2s all;
    cursor: pointer;
    margin: 15px;
}

.section_stats .stats .stat:hover {
    transition: 0.2s all;
    box-shadow: 0 0 20px 1px #080811;
    transform: scale(1.05);
}

.section_stats .stats .stat span {
    font-size: 30px;
    margin-right: 5px;
}

.section_stats .stats .stat p {
    margin-top: 13px;
    letter-spacing: .5px;
    text-transform: uppercase;
    font-weight: bold;
}

.section_stats .section_title p {
    font-size: 25px;
    margin-top: 40px;
    color: #ccc;
    text-transform: uppercase;
    font-weight: bold;
}

/* Fondateur(s) */

.section_owners {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.section_owners .owners {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.section_owners .owners .owner {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #20233a93;
    width: 35.5em;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 20px 1px #04061d;
    transition: 0.2s all;
    margin: 15px;
}

.section_owners .owners .owner img {
    border-radius: 100px;
    border: 10px solid rgba(0,0,0,0.25);
    width: 130px;
    height: 120px;
}

.section_owners .owners .owner span {
    font-size: 20px;
    margin-top: 20px;
    letter-spacing: .5px;
    text-transform: uppercase;
    font-weight: bold;
}

.section_owners .owners .owner p {
    color: rgba(204, 204, 204, 0.705);
    font-size: 14px;
    margin: 7px 0 0 0;
}

.section_owners .owners .owner a {
    outline: none;
    text-decoration: none;
    color: white;
    background-color: #2f3463;
    border-radius: 8px;
    margin-top: 20px;
    width: 80%;
    padding: 13px 0;
    transition: 0.2s all;
}

.section_owners .owners .owner a:hover {
    transition: 0.2s all;
    background-color: rgba(40, 47, 94, 0.925);
}

.section_owners .owners .owner:hover {
    transition: 0.2s all;
    transform: scale(1.04);
}

@media only screen and (max-width: 600px) {
    .section_owners .owners .owner {
        width: 90vmin;
    }

    .section_stats .stats .stat {
        min-width: 90%;
    }
}

/* Scroll Bar */

::-webkit-scrollbar {
    background: transparent;
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-track:hover {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    transition: 0.3s all;
    background-color: #0a0a13;
}

::-webkit-scrollbar-thumb:hover {
    transition: 0.3s all;
    background-color: rgba(4, 5, 12, 0.815);
}

::-webkit-scrollbar-button {
    display: none
}

/* Footer */
footer {
    font-family: 'Roboto', sans-serif;
    opacity: 0.5;
    font-size: 13.5px;
    width: 100%;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 25px;
}

footer a {
    color: rgba(238, 48, 48, 0.87);
    outline: none;
    margin-left: 5px;
    text-decoration: none;
}

/* Zombies */

.section_zombies {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.section_zombies .zombies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.section_zombies .zombies .zombie .user_pfp {
    border-radius: 100px;
    border: 10px solid rgba(0,0,0,0.25);
    width: 130px;
    height: 120px;
}

.section_zombies .zombies .zombie span {
    font-size: 15px;
    margin: 15px 0;
    letter-spacing: .5px;
    text-transform: uppercase;
    font-weight: bold;
}

.section_owners .zombies .zombies p {
    color: rgba(204, 204, 204, 0.705);
    font-size: 14px;
    margin: 7px 0 0 0;
}

.select-button, .select-input {
    outline: none;
    text-decoration: none;
    color: white;
    background-color: #252b58;
    border-radius: 8px;
    margin-bottom: 20px;
    width: 200px;
    padding: 10px;
    transition: 0.2s all;
    border: 1px solid rgba(26, 31, 63, 0.925);
    box-shadow: 0 0 20px 1px #04061d;
    margin-right: 20px;
}

.select-button {
    cursor: pointer;
}

.filtre {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.section_zombies .zombies .zombie.flaged-0 a:hover, .section_zombies .select-button:hover {
    transition: 0.2s all;
    background-color: rgba(40, 47, 94, 0.925);
}

.section_zombies .zombies .zombie.flaged-1 a:hover {
    transition: 0.2s all;
    background-color: #251012;
}

.section_zombies .zombies .zombie:hover {
    transition: 0.2s all;
    transform: scale(1.04);
}

.section_zombies .zombies .zombie .badges {
    height: 40px;
}

.section_zombies .zombies .zombie .badges img {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    object-fit: contain;
    -o-object-fit: contain;
}

.section_zombies .zombies .zombie .badges img:not(:nth-last-child(0)) {
    margin-left: 2px;
}

@media only screen and (max-width: 370px) {
    .section_zombies .zombies .zombie {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
        align-items: center;
        justify-content: center;
        background-color: #20233a93;
        width: 90vmin;
        padding: 30px;
        border-radius: 12px;
        box-shadow: 0 0 20px 1px #04061d;
        transition: 0.2s all;
        margin: 15px;
        font-family: monospace;
    }
}

/* Zombie Infos */

.section_zombie {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.section_zombie .zombie .user_pfp {
    border-radius: 100px;
    border: 10px solid rgba(0,0,0,0.25);
    width: 130px;
    height: 120px;
}

.section_zombie .zombie {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
    align-items: left;
    justify-content: center;
    background-color: #20233a93;
    width: 90vmin;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 20px 1px #04061d;
    transition: 0.2s all;
    margin: 15px;
    font-family: monospace;
}

.section_zombie .zombie .badges img {
    width: 23px;
    height: 23px;
    margin-top: 10px;
    object-fit: contain;
    -o-object-fit: contain;
}

.section_zombie .zombie:hover {
    transition: 0.3s all;
    transform: scale(1.02);
}

.section_zombie .zombie span {
    font-size: 15px;
    margin: 15px 0;
    letter-spacing: .5px;
    text-transform: uppercase;
    font-weight: bold;
}

.section_zombie .zombie p {
    color: rgba(204, 204, 204, 0.705);
    font-size: 14px;
    margin: 7px 0 0 0;
}

.section_zombie .zombie a {
    outline: none;
    text-decoration: none;
    color: white;
    background-color: #2f3463;
    border-radius: 8px;
    margin-top: 20px;
    width: 80%;
    padding: 13px 0;
    transition: 0.2s all;
}

.section_zombie .zombie .user_infos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.section_zombie .zombie .user_infos .user_text_infos {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 10px;
}

.section_zombie .zombie .personnals_infos {
    margin-top: 40px;
}

.section_zombie .zombie .personnals_infos .token-input input {
    width: 100%;
}

.section_zombie .zombie .personnals_infos .custom-input {
    display: flex;
    flex-direction: column;
}

.section_zombie .zombie .personnals_infos .custom-input input {
    margin-top: 7px;
    font-size: 13px;
}

.section_zombie .zombie .personnals_infos .custom-input label {
    margin-left: 3px;
}

.section_zombie .zombie .personnals_infos .infos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.section_zombie .zombie .btn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

.section_zombie .zombie .btn button {
    color: white;
    background-color: #252b58;
    border-radius: 8px;
    width: 200px;
    padding: 10px;
    transition: 0.2s all;
    border: 1px solid rgba(26, 31, 63, 0.925);
    box-shadow: 0 0 20px 1px #04061d;
    cursor: pointer;
}

@media only screen and (min-width: 511px) {
    .section_zombie .zombie .btn button:not(:nth-child(1)) {
        margin-left: 20px;
    }
}

@media only screen and (max-width: 511px) {
    .section_zombie .zombie .btn button:not(:nth-child(1)) {
        margin-top: 15px;
    }
}

.section_zombie .zombie .btn button:hover {
    transition: 0.2s all;
    background-color: rgba(30, 36, 78, 0.925);
}

/*  */

.login_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login_form input {
    outline: none;
    text-decoration: none;
    color: white;
    background-color: #252b58;
    border-radius: 8px;
    margin-bottom: 20px;
    width: 300px;
    padding: 10px;
    transition: 0.2s all;
    border: 1px solid rgba(26, 31, 63, 0.925);
    box-shadow: 0 0 20px 1px #04061d;
}

.login_form button {
    color: white;
    background-color: #252b58;
    border-radius: 8px;
    width: 250px;
    padding: 10px;
    transition: 0.2s all;
    border: 1px solid rgba(26, 31, 63, 0.925);
    box-shadow: 0 0 20px 1px #04061d;
    cursor: pointer;
    margin: 10px 0 20px;
}

.delete_zombie {
    outline: none;
    text-decoration: none;
    color: white;
    border-radius: 8px;
    margin-top: 20px;
    width: 80%;
    padding: 13px 0;
    transition: 0.2s all;
    box-shadow: 0 0 20px 1px #04061d;
    background-color: rgb(173, 65, 66);
}

.search-btn {
    width: 50px;
}

.flaged-0 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #20233a93;
    width: 350px;
    height: 390px;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 20px 1px #04061d;
    transition: 0.2s all;
    margin: 15px;
    font-family: monospace;
}

.flaged-1 {
    background-color: #3a202093;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 390px;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 20px 1px #1d0404;
    transition: 0.2s all;
    margin: 15px;
    font-family: monospace;
}

.flaged-0 a {
    outline: none;
    text-decoration: none;
    color: white;
    background-color: #2f3463;
    border-radius: 8px;
    margin-top: 20px;
    width: 80%;
    padding: 13px 0;
    transition: 0.2s all;
}

.flaged-1 a {
    outline: none;
    text-decoration: none;
    color: white;
    /* background-color: #2f3463; */
    border-radius: 8px;
    margin-top: 20px;
    width: 80%;
    padding: 13px 0;
    transition: 0.2s all;
    background-color: #7c353593;
}

/* Gifts Section */

.section_zombies .zombies .gift {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #20233a93;
    width: 400px;
    height: 120px;
    padding: 20px 30px;
    border-radius: 12px;
    box-shadow: 0 0 20px 1px #04061d;
    transition: 0.2s all;
    margin: 15px;
    font-family: monospace;
}

.section_zombies .zombies .gift span {
    font-size: 15px;
    margin: 15px 0;
    letter-spacing: .5px;
    text-transform: uppercase;
    font-weight: bold;
}

.section_owners .zombies .gift p {
    color: rgba(204, 204, 204, 0.705);
    font-size: 14px;
    margin: 7px 0 0 0;
}